body {
    background-color: #160a6c;
}

.section-cards {
    background-color: #160a6c;
    padding: 1rem;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}
h1 {color: #c38ad9;
    background-color: #160a6c;
}

h2 {color: #ffffff;
    background-color: #160a6c;
}

.subtitulo {
    color: #ffffff;
    margin-top: 1rem;
    margin-bottom: 4rem;
}

p {
    color: #390f5e;
}

.resultado {color: #c6b7ef;
}

.alta-form {
    margin-left: 15px;
}