.section-form {
    color: #ffffff;
}
.alta-form {
    margin-left: 1rem;
}
.alta-productos {
    margin-left: 1rem;
}
.agregarEditar {
    color: #ffffff;
    margin-left: 1rem;
    margin-top: 15px;
    margin-bottom: 11px;
}

.label-form {
    margin-left: 1rem;
}

input {
    width: 15rem;
    height: 1.8rem;
    margin-left: 11px;
    margin-top: 3px;
    margin-bottom: 3px;
    border-radius: 4px;
}
.checkbox {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 3px;
}
button {
    font-size: 100%;
    width: 5rem;
    height: 2rem;
    margin-top: 8px;
    margin-left: 12px;
    border-radius: 4px;
}